* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
  transition: 0.8s;
}

/* App container */
.app {
  width: 100%;
  max-width: 360px;
}

/* Card = App Screen */
.card {
  height: 600px;
  padding: 20px;
  border-radius: 30px;

  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.1);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  animation: fadeIn 0.8s ease;
}

/* Status bar */
.status-bar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.8;
}

/* Search */
.search {
  display: flex;
  gap: 5px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.search button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Forecast */
.forecast {
  display: flex;
  justify-content: space-between;
}

.day {
  background: rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 10px;
  width: 18%;
  font-size: 12px;
}

/* Animation */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}